* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.content {
    justify-content: center;
    align-items: center;
}

.content .pageTitle{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    padding: 40px 20px;

}

.content-info {
    text-align: center;
    margin: 10px 10px;
    padding: 10px 10px;
    border-style: solid;
    border-color: black;
}

.intro{
    font-size: 18px;
}

.listTitle{
    font-size: 25px;
}

body{
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
}

.foot-container {
    max-width: 1170px;
    margin: auto;
}

.foot-row {
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.foot-col {
    width: 25%;
    padding: 0 15px;
}

.foot-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.foot-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.foot-col ul li:not(:last-child){
    margin-bottom: 10px;
}


.foot-col ul li button {
    font-size: 14px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 3px 8px;
}


.footer .foot-col ul li button:focus {
    outline: none;
  }

/*responsive*/
@media(max-width: 767px) {
    .foot-col {
        width: 100%;
    }
}

.popup {
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.1);
    text-align: center;
    padding: 0 30px 30px;
    height: 410px;
    visibility: hidden;
    transition: transform .4s, top .4s;
}

.open-slide{
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
    visibility: visible;
}

.popup i{
    margin-top: 10px;
    font-size: 100px;
    background: #24262b;
    border-radius: 50%;
    color: #e91e63;
    box-shadow: rgba(0, 0, 0, 0.2);
}

.popup h2{
    font-weight: 500;
    font-size: 38px;
    margin: 30px 0 10px;
}

.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #e91e63;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    box-sizing: rgba(0,0,0,.2);
}

.alert {
    --foreground--color: #222222;
    --background-color: #eeeeee;

    display: flex;
    align-items: center;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    background-color: var(--background-color);
}

.alert-icon{
    display: flex;
    align-items: center;
}

.alert-text{
    margin-left: 1em;
    font-size: 1.15em;
    font-weight: 500;
    font-family: 'Lexend', sans-serif;
}

.alert-icon .bx-info-circle,  .alert-text{
    color: var(--foreground--color);
}

.alert-warning {
    --foreground--color: #000000;
    --background-color: #ecd103;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000040;
    padding: 20px;
}

.title h1{
    font-size: 70px;
    color: #FFFFFF;
    margin: auto;
}

.loginButton {
    background-color: #e91e63;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px 20px;
    text-decoration: none;
}